# Entorno virtual
venv/

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos de la base de datos y entorno
db.sqlite3
.env

# Archivos estáticos recopilados (STATIC_ROOT) y archivos multimedia subidos por usuarios
staticfiles/
media/


